.App {
    font-family: sans-serif;
    text-align: center;
  }

  .card, h2{
      text-align: center;
  }
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }
  
  input,button{
    padding: 1em;
    margin-top:1.5em;
    width: 20em;
    border: 1px solid firebrick;
    border-radius: 8px;
    color: #000
  }
  
  button{
    color: #fff;
    background: firebrick;
    font-weight: 700;
    font-size: .97rem;
    
    
  }