*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFFFFF;
}

body{
    font-family: system-ui;
}

.mobile-status-favoritues{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 805px;
}

.mobile-status-top-favoritues{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mobile-status-condition-favoritues{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;  
}

.mobile-status-time-favoritues{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.165px;
    padding: 20px;
    color: #000;
}

.mobile-status-bottom-favoritues{
    align-self: center;
}

.mobile-status-indicator-favoritues {
    width: 135px;
    height: 5px;
    background: #000000;
    border-radius: 100px;
}

@media screen and (min-width: 768px) {
    .mobile-status-top-favoritues, .mobile-status-bottom-favoritues{
        display: none;
    }
}

.menu-favoritues{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
}

.menu-top-favoritues{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #110E47;
}

.menu-title-favoritues{
    text-decoration: none;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #110E47;
}

.menu-bottom-favoritues{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.popular-favoritues{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

.title-favoritues{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #110E47;
}

.movie-list-favoritues{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 100px;
    row-gap: 16px;
    padding: 2rem;
    overflow-y: scroll;
}

.movie-favoritues{
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 0;
}

.movie-image-favoritues{
    width: 150px;
    border-radius: 5px;
}

.movie-info-favoritues{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.movie-title-favoritues{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #000000;
    vertical-align: top;
    width: 150px; 
    word-break: break-word;
}

.movie-imdb-favoritues{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #9C9C9C;
}

.movie-release-date-favoritues{
    width: 46px;
    height: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #000000; 
}

.movie-list-delete-favoritues{
    width: 30px;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .menu-icon-favoritues, .menu-notification-favoritues, .menu-bottom-favoritues{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .menu-top-favoritues .menu-title-favoritues{
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #110E47;
    }
}

@media screen and (max-width: 767px) {
    .menu-for-pc-favoritues{
        display: none;
    }
}