body{

    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;

}



h1{

    text-align: center;
    font-size: 40px;

}

.img1{

    position: absolute;
    top: 100px;
    left: 540px;

}

.tanım{

    position: absolute;
    top: 300px;
    text-align: center;

}

table, th, td {

    border:1px solid black;
    margin-top: 350px;
    text-align: center;

}

.içindekiler{

    position: absolute;
    top: 500px;
}

.talimatlar{

    position: absolute;
    top: 1100px;
}

hr.new1 {

    border-top: 1px solid white;
    margin-top: 580px;
}